{{ define "main" }}
<section class="intro">
  <p>Working through different fluid simulation methods. Let's learn CUDA by implementing a <a href="https://github.com/tarinyoom/slipstream">GPU-parallelized Stam solver</a>.
    <br>
    A past demo of a SPH solver running in the browser via Wasm is hosted here: <a href="https://sph.tarinyoom.io">sph.tarinyoom.io</a>.</p>
</section>

<div class="post-stream">
  {{ range (where .Site.RegularPages "Section" "posts").ByDate.Reverse }}
  <article class="post" id="{{ .File.BaseFileName }}">
    <header class="post-header">
      <h2 class="post-title">{{ .Title }}</h2>
      <p class="post-meta">
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
        {{ with .Params.tags }} · {{ delimit . ", " }}{{ end }}
      </p>
    </header>
    <div class="post-content">
      {{ .Content }}
    </div>
  </article>
  {{ end }}
</div>
{{ end }}
